body {
  width: 450px;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #4a4a4a;
}

header {
  font-size: 14px;
  background-color: #f1f1f1;
  padding: 6px;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 3px 6px #a9a9a9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
}

#window_actions {
  float: right;
  font-size: 13px;
}

#window_actions a {
  margin: 0 0 0 12px;
  font-size: 14px;
  text-decoration: none;
  color: #a9a9a9;
}

#window_actions a:hover {
  font-weight: bold;
}

.card-header {
  margin-top: 0px;
}
